<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body style="background-image: url('https://img.wallpapersafari.com/desktop/1280/1024/47/32/3mf1Tc.jpg');">
 
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/recommend">Recommendations</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/cart">Cart</a>
              <a class="nav-item nav-link" href="/wishlist">Wishlist</a>
              <a class="nav-item nav-link" href="/">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <div class="jumbotron">
     
  <h1 class="display-4">Hello, {{name[0][1]}}!</h1>
 
  <p class="lead">Welcome back to BookHub!</p>
  <hr class="my-2">
  
  <p class="lead">
    
  </p>
</div>

 <h2>Top Picks For You</h2>
<div class="container">
 
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-2">
       <div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="{{book1[0][1]}}" alt="Card image cap">

  <div class="card-body" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsngiZgSiRQxRApy6iq0MHgOkCZfe0Wq4YBR65go7LOPxnECcp');" >
    <h5 class="card-title" >{{book1[0][0]}}</h5>
    <p class="card-text"><b>Author-</b>{{book1[0][2]}}</p>
    <p class="card-text"><b>Publication Year-</b>{{book1[0][3]}}</p>
    <p class="card-text"><b>Publisher-</b>{{book1[0][4]}}</p>
    <a href="/final/book1" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>
  </div>

    <div class="col-md-3">
      <div class="col-md-2">
      <div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="{{book2[0][1]}}" alt="Card image cap">
  <div class="card-body" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsngiZgSiRQxRApy6iq0MHgOkCZfe0Wq4YBR65go7LOPxnECcp');">
    <h5 class="card-title" >{{book2[0][0]}}</h5>
    <p class="card-text"><b>Author-</b>{{book2[0][2]}}</p>
    <p class="card-text"><b>Publication Year-</b>{{book2[0][3]}}</p>
    <p class="card-text"><b>Publisher-</b>{{book2[0][4]}}</p>
    <a href="/final/book2" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>


    </div>
  <div class="col-md-3">
      <div class="col-md-2">
       
      <div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="{{book3[0][1]}}" alt="Card image cap">
  <div class="card-body" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsngiZgSiRQxRApy6iq0MHgOkCZfe0Wq4YBR65go7LOPxnECcp');">
    <h5 class="card-title">{{book3[0][0]}}</h5>
    <p class="card-text"><b>Author-</b>{{book3[0][2]}}</p>
    <p class="card-text"><b>Publication Year-</b>{{book3[0][3]}}</p>
    <p class="card-text"><b>Publisher-</b>{{book3[0][4]}}</p>
    <a href="/final/book3" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>
 </div>

 
  {% if lo==1 %}
      
   <div class="list-group">
  <h3>On Discount!!</h2>
  <a href="/final/pred1" class="list-group-item list-group-item-action " >
      <p>{{word1[0]}}</p>
    <img src="{{discount1}}" class="img-thumbnail" alt="">
  </a>
  <a href="/final/pred2" class="list-group-item list-group-item-action " >
      <p>{{word1[1]}}</p>
    <img src="{{discount2}}" class="img-thumbnail" alt="">
  </a>
  <a href="/final/pred3" class="list-group-item list-group-item-action " >
      <p>{{word1[2]}}</p>
    <img src="{{discount3}}" class="img-thumbnail" alt="">
  </a>
  
  
</div>

      {% endif %}
  
  </div>
</div>

  
<div class="container" >
<div class="list-group" >
  <h2>Recommended for you!!</h2>

  <a href="/final/pred1" class="list-group-item list-group-item-action" >
      <p>{{word[0]}}</p>
    <img src="{{predict4}}" class="img-thumbnail" alt="">
  </a>
  <a href="/final/pred2" class="list-group-item list-group-item-action" >
      <p>{{word[1]}}</p>
    <img src="{{predict5}}" class="img-thumbnail" alt="">
  </a>
  <a href="/final/pred3" class="list-group-item list-group-item-action " >
      <p>{{word[2]}}</p>
    <img src="{{predict6}}" class="img-thumbnail" alt="">
  </a>

</div>
</div>


  
<div class="container">
  <h2>More Choices!!!</h2>

  <div class="row">
 <div class="col-md-3">
      <div class="col-md-2">
      <div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="{{book4[0][1]}}" alt="Card image cap">
  <div class="card-body" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsngiZgSiRQxRApy6iq0MHgOkCZfe0Wq4YBR65go7LOPxnECcp');">
    <h5 class="card-title" >{{book4[0][0]}}</h5>
    <p class="card-text"><b>Author-</b>{{book4[0][2]}}</p>
    <p class="card-text"><b>Publication Year-</b>{{book4[0][3]}}</p>
    <p class="card-text"><b>Publisher-</b>{{book4[0][4]}}</p>
    <a href="/final/book4" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>
</div>



 <div class="col-md-3">
      <div class="col-md-2">
        
      <div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="{{book5[0][1]}}" alt="Card image cap">
  <div class="card-body" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsngiZgSiRQxRApy6iq0MHgOkCZfe0Wq4YBR65go7LOPxnECcp');">
    <h5 class="card-title" >{{book5[0][0]}}</h5>
    <p class="card-text"><b>Author-</b>{{book5[0][2]}}</p>
    <p class="card-text"><b>Publication Year-</b>{{book5[0][3]}}</p>
    <p class="card-text"><b>Publisher-</b>{{book5[0][4]}}</p>
    <a href="/final/book5" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>
  </div>


 <div class="col-md-3">
      <div class="col-md-2">
       
      <div class="card h-100" style="width: 15rem;">
  <img class="card-img-top" src="{{book6[0][1]}}" alt="Card image cap">
  <div class="card-body" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsngiZgSiRQxRApy6iq0MHgOkCZfe0Wq4YBR65go7LOPxnECcp');">
    <h5 class="card-title" >{{book6[0][0]}}</h5>
    <p class="card-text"><b>Author-</b>{{book6[0][2]}}</p>
    <p class="card-text"><b>Publication Year-</b>{{book6[0][3]}}</p>
    <p class="card-text"><b>Publisher-</b>{{book6[0][4]}}</p>
    <a href="/final/book6" class="btn btn-primary">Buy Now</a>
  </div>
</div>
</div>
  
</div>
</div>
</div>









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>